* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 12px 25px;
  background-color: rgb(220, 250, 250);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo h1 {
  font-size: 32px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar li:not(:last-child) {
  margin-right: 10px;
}

.navbar li a {
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
}

.link {
  color: rgb(65, 110, 220);
}

.link-active {
  color: orangered;
  border-bottom: 2px solid orangered;
}

/* Rockets Page */

.rockets {
  position: absolute;
  padding: 0 25px;
}

.rocket {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
  margin-bottom: 15px;
  gap: 1rem;
}

.rocket-img {
  height: 200px;
}

.rocket-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.rocket-desc {
  grid-column: span 3;
}

.rocket-desc h2 {
  font-size: 30px;
}

.rocket-desc p {
  margin-top: 0.5rem;
  font-size: 20px;
}

.rocket-desc button {
  margin-top: 0.5rem;
  padding: 8px 20px;
}
